{var $post = $this->getParameter('post')}

{var $comments = $this->getParameter('comments')}
{var $isOwner = $this->getParameter('isOwner')}

{block head}<link href="{$basePath}/css/post.css" rel="stylesheet">{/block}

{block content}

<div class="container pt-3 content-wrapper">
	<div class="row">
		<div class="col-12">
			<div class="p-2">
				<div class="row mb-2">

					<div class="col-11">

						<span><strong>
							<a class="post-link" href="{plink User:profile $post->user->username}">{$post->user->firstname} {$post->user->lastname}
								<span class="text-muted">@{$post->user->username}</span>
							</a>
						</strong></span>

						<span class="mb-2 text-muted">{$post->created|date:'%e %b %Y'}</span>
					</div>

					{if $isOwner}
					<div class="col-1">
						<a class="post-link" href="{plink Post:edit $post->id}">Edit</a>
					</div>
					{/if}
				</div>

				<div class="row">
					<div class="col-12">

						<a n:href="like!" class="ajax post-link">
							<span class="fa {if $post->meta->isLikedByUser} fa-heart {else} fa-heart-o {/if} fa-lg mx-2"></span>
						</a>

						<span><strong>{$post->meta->likes}</strong></span>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						{$post->article}
					</div>
				</div>

				<div class="row">
					<div class="col-12">

						<a n:href="like!" class="ajax post-link">
							<span class="fa {if $post->meta->isLikedByUser} fa-heart {else} fa-heart-o {/if} fa-lg mx-2"></span>
						</a>

						<span><strong>{$post->meta->likes}</strong></span>
					</div>
				</div>

			</div>
		</div>
	</div>

	{if $this->getParameter('user')->isLoggedIn()}

	<div class="container mt-3">
		<div class="row">
			<div class="col-12">

				<form n:name=commentForm>

					<div class="form-group">
						<textarea class="form-control" n:name=comment rows="4" placeholder="Please write a comment..."></textarea>
					</div>

					<button type="submit" class="btn btn-primary">Add comment</button>

				</form>

			</div>
		</div>
	</div>

	{/if}

	<div class="container">
		<div class="row">

			<div class="col-1"></div>

			<div class="col-10">
				{foreach $comments as $comment}
					{control comment-$comment->id}
				{/foreach}
			</div>

		</div>
	</div>
</div>

{/block}