{snippet}

{var $comment = $this->getParameter('comment')}
{var $isOwner = $this->getParameter('isOwner')}

<div class="comment-wrapper p-2">
	<div class="row mb-2">

		<div class="col-10">
			<span><strong><a class="comment-link" href="{plink User:profile $post->user->username}">{$comment->user->firstname} {$comment->user->lastname} <span class="text-muted">@{$comment->user->username}</span></a></strong></span>
			<span class="mb-2 text-muted">{$comment->created|date:'%e %b %Y'}</span>
		</div>

		{if $isOwner}
		<div class="col-2">
			<a class="comment-link mr-2" href="{plink Comment:edit $comment->id}">Edit</a>
			<a class="comment-link" n:href="delete!">Delete</a>
		</div>
		{/if}
	</div>

	<div class="row">
		<div class="col-12">
			<h5><strong>{$comment->text}</strong></h5>
		</div>
	</div>

</div>

{/snippet}